In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('...')
data.head(1)

,Unnamed: 0,atclNo,cortarNo,lat,lng,atclNm,atclStatCd,rletTpNm,rletTpCd,tradTpNm,...,flrInfo,prc,rentPrc,spc1,spc2,direction,atclFetrDesc,tagList,repImgUrl,repImgThumb
0,0,2233917636,1168010600,37.498822,127.055722,일반원룸,R0,원룸,C01,월세,...,2/3,2000,60,35,30,남향,보안좋고쾌적한 분리형풀옵션 학원가 좋은집 조용하고 가격대비최상급 강력추천,"['25년이상', '융자금없는', '역세권']",/20220930_140/land_naver_1664537403631mzV76_JP...,f130_98

In [3]:
data.columns

Index(['Unnamed: 0', 'atclNo', 'cortarNo', 'lat', 'lng', 'atclNm',
       'atclStatCd', 'rletTpNm', 'rletTpCd', 'tradTpNm', 'tradTpCd', 'flrInfo',
       'prc', 'rentPrc', 'spc1', 'spc2', 'direction', 'atclFetrDesc',
       'tagList', 'repImgUrl', 'repImgThumb'],
      dtype='object')

# 1. 필요없는 열 제거

In [4]:
data.head(1)

,Unnamed: 0,atclNo,cortarNo,lat,lng,atclNm,atclStatCd,rletTpNm,rletTpCd,tradTpNm,...,flrInfo,prc,rentPrc,spc1,spc2,direction,atclFetrDesc,tagList,repImgUrl,repImgThumb
0,0,2233917636,1168010600,37.498822,127.055722,일반원룸,R0,원룸,C01,월세,...,2/3,2000,60,35,30,남향,보안좋고쾌적한 분리형풀옵션 학원가 좋은집 조용하고 가격대비최상급 강력추천,"['25년이상', '융자금없는', '역세권']",/20220930_140/land_naver_1664537403631mzV76_JP...,f130_98

In [5]:
idx = [0,5,6,8,9,17,20]
remove_columns = data.columns[idx]
remove_columns.values

array(['Unnamed: 0', 'atclNm', 'atclStatCd', 'rletTpCd', 'tradTpNm',
       'atclFetrDesc', 'repImgThumb'], dtype=object)

In [6]:
data.loc[:,remove_columns]

# 'Unnamed'열 : 0~19를 계속 반복한다.
# 'atclNm' : 건물이름으로 필요없는 정보
# 'atclStatCd', 'rletTpCd', 'repImgThumb': 해석 불가
# 'tradTpNm' : 계약형태로 그 다음 열인 'tradTpCd' 거래형태에 포함되는 정보
# 'atclFetrDesc' : '보안좋고쾌적한 분리형풀옵션 학원가 좋은집 조용하고 가격대비최상급 강력추천'과 같이 의미없는 글

,Unnamed: 0,atclNm,atclStatCd,rletTpCd,tradTpNm,atclFetrDesc,repImgThumb
0,0,일반원룸,R0,C01,월세,보안좋고쾌적한 분리형풀옵션 학원가 좋은집 조용하고 가격대비최상급 강력추천,f130_98
1,1,강남센트럴아이파크,R0,A01,전세,48 신축 첫 입주 초품아도성초 진선여중 고 풀옵션 전망최상임,f130_98
2,2,일반원룸,R0,C01,월세,보안좋고 쾌적한 풀옵션 학원가 좋은집 조용하고 가격대비최상급 강력추천해요,f130_98
3,3,일반원룸,R0,C01,월세,보안좋고 쾌적한 풀옵션 학원가좋은집 조용하고 가격대비최상급 강력추천해요,f130_98
4,4,삼성힐스테이트2단지,R0,A01,전세,입주협의가능 무융자 내부상태 최상,f130_98
...,...,...,...,...,...,...,...
13455,15,상록수,R0,A01,전세,입주일 하시조정 전망우수 깨끗한 상태,NaN
13456,16,우성3차,R0,A01,월세,"34월 , 살기 쾌적한 최신 인테리어, 학교와 양재천이 가까워요",NaN
13457,17,한양5차,R0,A01,전세,32로얄동 특올수리 첫입주 주차편리,NaN
13458,18,청담에디션,R0,A02,월세,"도산대로변 신축급 하이엔드 로열층, 파노라마뷰, 즉시입주 가능",NaN
13459,19,경남,R0,A01,전세,"주인직접, 신축 수준의 특올수리, 양재천의 중심, 경남하세요",NaN

In [7]:
remove_columns

Index(['Unnamed: 0', 'atclNm', 'atclStatCd', 'rletTpCd', 'tradTpNm',
       'atclFetrDesc', 'repImgThumb'],
      dtype='object')

In [8]:
# data_trans : 전처리된 데이터 저장 공간

data_trans = data.drop(remove_columns, axis=1)
data_trans.head(1)

,atclNo,cortarNo,lat,lng,rletTpNm,tradTpCd,flrInfo,prc,rentPrc,spc1,spc2,direction,tagList,repImgUrl
0,2233917636,1168010600,37.498822,127.055722,원룸,B2,2/3,2000,60,35,30,남향,"['25년이상', '융자금없는', '역세권']",/20220930_140/land_naver_1664537403631mzV76_JP...

In [9]:
data_trans.columns = ['id', 'dong', 'altitude', 'longtitude',
                      'goodsType', 'payType', 'floor', 'deposit', 'monthlyPay',
                      'contractArea', 'realArea', 'direction', 'tagList', 'repImgUrl']

In [10]:
data_trans.head(1)

,id,dong,altitude,longtitude,goodsType,payType,floor,deposit,monthlyPay,contractArea,realArea,direction,tagList,repImgUrl
0,2233917636,1168010600,37.498822,127.055722,원룸,B2,2/3,2000,60,35,30,남향,"['25년이상', '융자금없는', '역세권']",/20220930_140/land_naver_1664537403631mzV76_JP...

# 2. 일부 열 전처리하기

## payType열

In [11]:
# 'payType' 형태

data_trans.loc[:,'payType'].unique()

array(['B2', 'B1', 'B3', 'A1'], dtype=object)

In [12]:
# 영어로 분류된 것을 한국어로 바꾸기

payTypeDict = {'A1':'매매', 'B1':'전세', 'B2':'월세', 'B3':'단기임대'}
data_trans['payType'] = data_trans['payType'].apply(lambda x : payTypeDict[x])
data_trans['payType']

0        월세
1        전세
2        월세
3        월세
4        전세
         ..
13455    전세
13456    월세
13457    전세
13458    월세
13459    전세
Name: payType, Length: 13460, dtype: object

In [13]:
data_trans.loc[:,'payType'].unique()

array(['월세', '전세', '단기임대', '매매'], dtype=object)

## floor열

In [14]:
data_trans.loc[:,'floor'].unique()

array(['2/3', '5/35', '6/6', '1/6', '21/22', '10/12', '3/8', '2/6', '4/4',
       '1/3', '6/7', 'B1/6', '5/6', '12/13', '2/4', '3/6', '4/5', '2/5',
       '6/11', '3/15', '10/13', 'B2/2', '5/10', '9/14', '3/5', '6/B1',
       '9/11', 'B1/16', 'B1/3', '5/5', '9/9', '3/16', '3/4', '2/7',
       '2/11', '4/6', '11/15', '8/19', 'B1/7', '11/16', '7/10', '12/20',
       '3/10', 'B1/4', '21/35', '6/14', '4/15', '1/7', '1/5', '3/3',
       '10/15', '13/15', '7/7', '14/15', '15/15', '8/12', '3/9', '6/13',
       'B1/5', '10/19', '2/9', '13/13', '1/4', '7/11', '2/14', '1/2',
       '18/35', '1/10', '6/8', '3/B1', '7/9', '1/15', '2/15', '7/8',
       '6/10', '11/13', '16/17', '저/6', '10/11', '8/9', '고/6', 'B1/8',
       '2/10', '3/7', '5/14', '5/8', '고/10', '8/11', '1/8', '4/9',
       'B1/14', '4/7', '5/15', '4/B2', 'B2/4', '1/11', '1/23', '4/8',
       'B2/11', '3/13', '3/18', '중/8', '고/5', '6/9', '12/19', '2/29',
       '11/19', '14/23', '14/19', '19/21', '11/33', '2/13', '19/28',
       '3/33', 'B1/2', '2/12', '고/4', '20/35', '8/8', '27/35', '5/25',
       '33/59', '1/13', '23/33', '23/29', '17/19', '4/34', '고/14', '고/22',
       '2/24', '5/12', '3/19', '18/19', '22/23', '1/14', '8/15', '9/22',
       '7/20', '13/20', '3/22', '18/21', '12/22', '19/23', '19/19',
       '22/28', '10/22', '8/22', '10/14', '7/15', '12/15', '3/14', '7/31',
       '20/24', '5/22', '33/35', '6/15', '31/35', '10/16', '4/10', '1/12',
       '34/35', '9/15', '8/35', '2/20', '9/10', '28/34', '13/16', '7/12',
       '9/20', '8/10', '11/12', '12/16', '11/23', '5/9', '30/33', '12/35',
       '4/33', '13/22', '3/12', '9/16', '12/18', '9/18', '2/30', '5/7',
       '12/25', '14/21', '27/33', '6/23', '11/24', '12/23', '19/22',
       '20/20', '15/24', '10/18', '14/35', '7/32', '17/34', '6/19',
       '26/27', '2/16', '2/17', '16/22', '9/12', '8/14', '4/19', '9/19',
       '7/16', '13/19', '16/20', '2/8', '26/29', '22/59', '4/29', '11/31',
       '5/16', '23/24', '31/46', '14/25', '5/31', '13/23', '6/20', '3/21',
       '34/42', '25/42', '22/55', '17/17', '7/24', '29/33', '5/21',
       '13/14', '15/22', '14/17', '10/10', '32/42', '19/20', '7/26',
       '18/22', '11/20', '7/22', '10/21', '19/35', '15/26', '4/12',
       '16/33', '8/17', '17/22', '10/17', '11/17', '20/27', '2/22',
       '6/29', '17/23', '13/24', '5/20', '4/28', '1/9', '17/21', '5/23',
       '25/27', '5/30', '13/27', '58/69', '14/22', '26/51', '11/18',
       '4/11', '16/19', '5/13', '중/35', '중/4', '저/4', '3/20', '10/23',
       '1/22', '21/55', '20/21', '2/2', '9/28', '11/14', '고/1', '중/5',
       '4/32', '1/1', '5/B1', '5/B2', '5/26', 'B1/15', '7/29', '중/6',
       '15/33', '8/18', '중/2', '2/B2', '16/18', '15/17', '고/3', '중/16',
       '저/12', '12/21', '12/33', '13/21', '4/B1', '9/24', '24/24',
       '22/22', '33/33', '4/20', '18/20', '15/34', '14/14', '6/16',
       '8/16', '28/59', '12/12', '9/17', '7/17', '3/17', '17/24', '4/18',
       '7/21', '3/35', '21/29', '20/22', '10/25', '23/27', '3/11',
       '15/27', '8/27', '15/19', '11/22', 'B2/6', '중/12', '11/11', 'B1/1',
       '1/19', '21/21', '10/38', '23/32', '2/-', '17/27', '1/21', '중/3',
       'B1/12', '2/B1', 'B1/9', '7/14', '16/35', '4/25', '7/13', '21/32',
       '21/27', '6/17', '21/25', '15/16', '13/18', '2/19', '12/26',
       '중/10', '8/13', '20/31', '6/B2', 'B1/10', '고/8', '8/20', '5/18',
       '6/12', '27/31', '13/17', '14/18', '6/18', '24/25', '24/45',
       '저/35', '저/2', '21/26', '29/45', '12/30', '31/33', 'B1/20',
       '12/14', '6/32', 'B1/17', '12/17', '7/18', '15/31', '4/14',
       '14/16', '1/18', '6/35', '2/B8', '17/18', '저/10', '저/29', '고/29',
       '중/20', '저/3', '10/26', '1/17', '2/18', '1/B1', '17/20', '38/45',
       '4/16', '18/34', '15/18', '7/19', '13/35', '-', '저/25', '고/28',
       '중/25', '저/15', '9/13', '2/34', '5/-', '14/20', '17/25', '16/32',
       '고/2', '9/27', '고/23', '중/22', '중/14', '중/7', '고/16', '고/15',
       '저/32', '저/21', '중/33', '중/15', '중/29', '중/19', '고/13', '고/32',
       '저/22', '고/12', '중/21', '고/34', '중/32', '저/23', '고/35', '고/46',
       '저/19', '중/34', '저/26', '중/46', '중/30', '중/24', '고/9', '중/27',
       '고/27', '중/18', '중/26', '저/24', '중/11', '고/21', '중/13', '고/25',
       '고/24', '고/20', '저/55', '저/33', '중/23', '저/66', '고/19', '중/69',
       '고/59', '저/8', '중/66', '저/16', '중/17', '저/17', '저/14', '중/42',
       '고/33', '저/31', '고/31', '고/17', '저/9', '저/28', '저/13', '고/18',
       '저/30', '고/11', '10/29', '4/22', '5/19', '12/28', '1/25', '18/27',
       '고/69', '고/7', '중/28', '저/20', '저/18', '고/51', '중/51', '중/9',
       '중/55', '중/31', '저/51', '저/59', '저/27', '저/34', '고/55', '4/27',
       '15/25', '53/55', '24/51', '15/30', '42/59', '10/55', '9/30',
       '22/46', '54/55', '26/55', '30/66', '23/55', '39/45', '9/25',
       '저/11', '고/30', '10/20', '5/24', '17/26', '21/34', '4/13', '41/45',
       '1/B6', '29/34', '3/23', '18/18', '14/27', '8/21', '2/21', '16/27',
       '중/59', 'B2/5', '고/26', '저/46', '56/69', '21/24', 'B1/19', '6/21',
       '9/35', '7/27', 'B2/7', 'B3/7', '5/11', '전체층/2', '11/B3', '11/35',
       '4/21', '15/21', '21/46', '43/45', '2/27', '19/24', '26/35',
       '15/23', '30/35', '11/27', '저/7', '저/69', '19/26', '19/31', '3/30',
       '7/B1', '4/51', '10/35', '8/B8', 'B1/13', '1/26', 'B2/3', 'B1/18',
       'B2/15', '15/20', '16/16', '27/28', '23/25', '9/26', '9/23',
       '14/26', '4/17', '4/35', '4/26', '21/31', '1/24', '14/24', '7/35',
       'B3/9', '3/28', '3/B2', '4/-', '3/-', '1/B5', '8/B6', '1/B3',
       'B2/18', '1/20', '7/B2', '1/16', '16/B4', '10/B2', '6/B4',
       '전체층/B1', '10/32', 'B1/22', '15/B3', '저/5', 'B2/8', 'B2/10',
       '1/30', 'B1/51', '2/26', 'B2/17', '1/-', 'B1/11', '6/27', '4/B4',
       'B1/26', '8/B2', '23/26', '17/35', '23/35', '9/32', '22/24', '저/1',
       '14/29', 'B1/30', 'B2/26', '18/25', '10/B1', '6/-', '2/B5', '1/B2',
       '7/B3', 'B2/9', '1/35', 'B2/22', '1/B4', 'B1/23', '6/24', '11/30',
       '5/B3', '16/21', '28/35', '13/26', '중/38', '5/B7', '전체층/1',
       '18/B6', '9/21', 'B2/19', '6/B3', '전체층/5', '2/B4', '18/23'],
      dtype=object)

In [15]:
def floorConvert(x):
    
    import random
    import numpy as nps
    
    word = x.split('/')
    
    if len(word) == 2 and '/' in x: # '현재층/전체층'의 형태이면,
    
        # 1. 'B1 -> -1'로 바꾸기
        for i in range(len(word)): # '/'을 기준으로 2개로 나눈다.
            if 'B' in word[i]:
                word[i] = int(word[i][-1])*-1
    
        # 2. '고','중','저'를 숫자 데이터로 바꾸기
        # 살펴보니까 '고', '중', '저로 표기된 데이터가 꽤 많았다.
        # 따라서 제거를 하는 것 보다 다음과 같이 전처리를 해주었다.
        # 고 = 전체층의 66~100% 중 random으로 정수층 선택
        # 중 = 전체층의 33~66% 중 random으로 정수층 선택
        # 저 = 전체층의 0~33% 중 random으로 0이 아닌 정수층 선택
        for i in range(len(word)):
            t = random.random() # 0<t<1
            if word[i] == '고':
                rate = (1-t)*2/3 + t*1 # 2/3<rate<1
            elif word[i] == '중':
                rate = (1-t)*1/3 + t*2/3 # 1/3<rate<2/3
            elif word[i] == '저':
                rate = (1-t)*0/3 + t*1/3 # 0/3<rate<1/3
            else: continue
            word[i] = int(float(word[1-i]) * rate)

        # 3. 숫자가 아닌것이 있으면, 버리기(''으로 채운다.)
        if not (str(word[0]).isdigit() and str(word[1]).isdigit()): # 둘 다 숫자가 아니면
            word = ''
            return word
        
        # 4. 3/1으로 전체층과 현재층이 반대로 되어 있으면, 바꿔준다.
        if int(word[0]) > int(word[1]):
            temp = word[1]
            word[1] = word[0]
            word[0] = temp
            
    else: # 층이 1개로만 분리되면('/'의 기호가 없을 때), 버리기(''으로 채운다.)
        word = ''
        return word

    word = str(word[0]) + '/' + str(word[1])
    
    return word

In [16]:
data_trans.loc[:,'floor'] = data_trans.loc[:,'floor'].apply(floorConvert)
data_trans.loc[:,'floor']

0          2/3
1         5/35
2          6/6
3          1/6
4        21/22
         ...
13455      4/5
13456    15/15
13457    10/13
13458     9/13
13459     9/15
Name: floor, Length: 13460, dtype: object

In [18]:
np.where(data_trans.loc[:,'floor']=='')[0]

array([   17,    33,    41, ..., 13379, 13380, 13396])

In [19]:
data_trans = data_trans.drop(np.where(data_trans.loc[:,'floor']=='')[0])
data_trans.loc[15:20,:]

,id,dong,altitude,longtitude,goodsType,payType,floor,deposit,monthlyPay,contractArea,realArea,direction,tagList,repImgUrl
15,2233925018,1168010100,37.507508,127.036422,사무실,월세,2/6,15000,750,195,180,서향,"['25년이내', '융자금없는', '역세권']",/20220930_276/land_naver_1664534887596k3zcc_JP...
16,2233925139,1168010100,37.495725,127.030165,사무실,월세,6/7,3000,340,118,118,동향,"['25년이상', '융자금없는', '역세권']",/20220930_44/land_naver_1664531245791eEgKf_JPE...
18,2233925684,1168010800,37.521365,127.039101,사무실,월세,5/6,5000,500,163,138,동향,"['25년이상', '융자금없는', '주차가능']",/20220930_300/land_naver_1664530758103vdn4g_JP...
19,2233925180,1168010100,37.503085,127.049396,사무실,월세,12/13,10000,488,159,132,동향,"['10년이내', '융자금없는', '역세권']",/20220930_229/land_naver_1664534885490tULtv_JP...
20,2233922764,1168010500,37.510752,127.055533,사무실,월세,6/6,5000,380,134,134,북향,"['25년이내', '융자금없는', '역세권']",/20220930_162/land_naver_16645342263066Ookg_JP...

## dong

In [20]:
data_trans.loc[:,'dong']

0        1168010600
1        1168010100
2        1168010600
3        1168010600
4        1168010500
            ...
13455    1168011400
13456    1168010300
13457    1168011000
13458    1168010400
13459    1168010300
Name: dong, Length: 11714, dtype: int64

In [21]:
# dong_info = pd.read_csv('.csv', encoding='cp949')
# dong_info.head(1)

        법정동코드  시도명 시군구명 읍면동명    리명    순위        생성일자 삭제일자  과거법정동코드
0  4223033031  강원도  삼척시  노곡면  상군천리  11.0  1995-01-01  NaN      NaN

In [22]:
# 나중에 '시군구명' 혹은 '읍면동명'이 같은 걸로만 group화 해서 비교할 때, 생각해봐야한다.
# 일단 강남 이외의 데이터도 합쳐서 비교

# 3. 전처리 데이터 저장하기

In [23]:
data_trans.to_csv('...csv')